[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manikEmbla
[access "refs/for/refs/*"]
	read = group user/manikEmbla
	push = group user/manikEmbla
	label-Code-Review = -2..+2 group user/manikEmbla
	label-Verified = -1..+1 group user/manikEmbla
	rebase = group user/manikEmbla
	removeReviewer = group user/manikEmbla
	submit = group user/manikEmbla
[access "refs/heads/*"]
	read = group user/manikEmbla
	create = group user/manikEmbla
	push = +force group user/manikEmbla
	pushMerge = group user/manikEmbla
[access "refs/tags/*"]
	push = +force group user/manikEmbla
	pushTag = group user/manikEmbla
	pushSignedTag = group user/manikEmbla
